* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #C90000;
    --dark: #404040;
    --light: #707070;
    --white: #ffffff;
    --gray: #cacaca;
}

html {
    font-size: 14px;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, sans-serif;
}

body.not-mobile #responsive {
    display: flex;
}

body #responsive{
    display: none;
}

p {
    line-height: 1.4;
}

h6 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.8rem;
}

h2 {
    font-size: 2rem;
}

h1 {
    font-size: 2.2rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--red);
}

ul {
    list-style-type: none;
}

button {
    padding: 14px 32px;
    background: var(--red);
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
    border-radius: 40px;
    border: 0;
    display: inline-block;
}

button.disabled {
    background: var(--light);
    pointer-events: none;
}

.red-background {
    background-color: var(--red);
}

.padding-top {
    padding-top: 20px;
}

.hidden {
    display: none !important;
}

section:not(#disclaimer) {
    margin-bottom: 60px;
}

#disclaimer {
    background: white;
    margin: 20px auto;
    padding: 20px;
    height: 85%;
    width: 90%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#disclaimer .title {
    color: var(--red);
}

#disclaimer .description, #disclaimer .title {
    text-align: center;
}

#disclaimer img {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

#disclaimer .diabetes_logo {
    margin-bottom: 20px;
}

#disclaimer .actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* NAVIGATION */

.nav-bar {
    bottom: 0%;
    position: fixed;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid var(--gray);
    box-shadow: 0px 13px 20px 4px rgba(0, 0, 0, 0.5);
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    padding: 12px;
}

.nav-bar ul li {
    list-style-type: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Responsiveness alert page */

#responsive {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: var(--white);
    position: fixed;
    z-index: 10000;
    top: 0;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
}

/* product categories page */
#productCategories {
    padding-top: 240px;
}

#productCategoriesList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
}

.product-group {
    width: 40vw;
    height: 35vw;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    font-size: 1.1rem;
    border: 1px solid var(--gray);
}

.product-group .product-group-image {
    width: 50%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#searchField {
    font-size: 1.4rem;
    border-radius: 40px;
    border: 1px solid var(--gray);
    padding: 6px 20px;
    width: calc(100% - 40px);
    margin: 10px auto;
    display: block;
    transition: 0.3s ease-in-out;
}

#searchField:focus {
    outline: 0;
    border-color: var(--light)
}

#guideIcons {
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: -1;
    background: var(--gray);
}

#searchProducts {
    background: white;
    padding-top: 20px;
}

.guide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.guide:last-child {
    margin-bottom: 0;
}

.guide img {
    width: 20%;
    height: auto;
}

.guide p {
    width: 70%;
}

/* subcategories page */
#productsSubCategories {
    padding: 20px;
}
#productsSubCategoriesList .subcategory-name {
    color: var(--dark);
    margin: 20px 0;
}

#productsSubCategoriesList > li {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 24px;
}

#productsSubCategoriesList > li > img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

#productsSubCategoriesList .description {
    margin: 10px 0;
}

#productsSubCategoriesList .limits li {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}

#productsSubCategoriesList .limits li .limit-type{
    font-weight: bold;
}

/* INDIVIDUAL RECIPE */

.individualRecipe {
    width: 100vw;
    background-color: var(--white);
    color: var(--light);
}

.recipe_banner {
    width: 100%;
}

.recipe_banner i {
    right: -95%;
    top: 0%;
    transform: translate(95%, 0);
}

.recipe_name {
    display: flex;
    flex-direction: row;
    padding: 0 0 4vh 8vw;
}

.recipe_name h2 {
    color: var(--red);
    padding-right: 4vw;
}

.recipe_name i {
    padding-top: 1vh;
}


.ingredients h2 {
    padding-left: 8vw;
    padding-bottom: 3vh;
}

.ingredients ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding:0 6vw 0 15vw;
}

.ingredients ul li {
    padding-bottom: 2vh;
}

.ingredients a {
    color: var(--red);
    padding-left: 8vw;
    text-decoration: none;
    cursor: pointer;
    margin-top: 2vh;
}

.steps {
    margin-top: 5vh;
    padding: 0 6vw 0 0;
}

.steps h2 {
    padding: 0 0 4vh 8vw;
}

.steps ol {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 15vw;
}

.steps ol li {
    padding-bottom: 2vh;
    line-height: 1.5;
}
